<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/rbs/IdeaProjects/TestingAutomationDemo1/AutomationTestingWithSeleniumDemo1"><classes><class name="com.basic.Anno_Test"><methods><include name="OrangeHRMVerifyLogin"/></methods></class><class name="com.basic.PractTest"><methods><include name="Zddition"/><include name="Substraction"/><include name="Division"/></methods></class><class name="com.test.LoginTest1"><methods><include name="verifyLogin"/></methods></class></classes></test></suite>